body{
  background-color: black;
  color: white;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  background-color: rgb(78, 76, 76);
  padding: 60px;
  border-radius: 10px;
}


button{
  margin-top: 20px
}